<%- include('partials/header') %>

<div class="container">
<section class="about-us">
    <h1>About Us</h1>
    <h2>Learn more about the team behind the Carbon Footprint Calculator</h2>
    <p>Amy Wi, Maika Takemoto, & Yuri Bychkov @ Boston University</p>
 </section>
 
 
 <section class="calculator-explanation">
    <h2>How Our Calculator Works</h2>
    <p>This calculator uses data from multiple sources to provide estimates of carbon emissions based on
        the chosen mode of transportation.
    </p>
 </section>
</div>


<%- include('partials/footer') %>
