<!DOCTYPE html>
<html lang="en">


<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Carbon Footprint Calculator</title>
   <!-- Link to your CSS file -->
   <link rel="stylesheet" href="style.css">
</head>

<%- include('partials/header') %>


<body>

   <section class="hero">
       <div class="container">
           <h2>Measure Your Carbon Footprint</h2>
           <p>Welcome to our Carbon Footprint Calculator! Calculate your carbon emissions for your daily journeys and find ways to reduce your impact on the environment.</p>
           <a href="/calculator" class="btn">Start Calculating</a>
       </div>
   </section>


   <section class="features">
       <div class="container">
           <h2>Key Features</h2>
           <ul>
               <li>Calculate carbon footprint based on transportation mode.</li>
               <li>Get tips for reducing your carbon footprint.</li>
           </ul>
       </div>
   </section>


   <section class="resources">
       <div class="container">
           <h2>Resources</h2>
           <p>Explore articles, videos, and tools to help you reduce your carbon footprint:</p>
       </div>
   </section>


   <!-- Link to your JavaScript file -->
   <script src="/scripts/main.js"></script>
   <%- include('partials/footer') %>
</body>


</html>